{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{% static 'mySite/images/data.png' %}">

    <title>Roi Abramovtich</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <script src="https://kit.fontawesome.com/277544e52b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="stylesheet" href="{% static 'mySite/css/baseCss.css' %}">
    <title>Website</title>
</head>
<body>
<header>
    <div class="container">
        <div class="logo-box ">
            <a href="/">
                <img src="{% static 'mySite/images/MyPic.png' %}" width="85" height="85" alt="">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url "home" %}" style="text-decoration: none">home</a></li>
                <li><a href="{% url "portfolio" %}" style="text-decoration: none">Portfolio</a></li>
                <li><a href="{% url "cv" %}" style="text-decoration: none">CV</a></li>
                <li><a href="{% url "contactMe" %}" style="text-decoration: none">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>


{% block contact %}
    <footer class="footer text-center margin " style=" background-color: #eceff1;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 150px;
        width: 100%;
        overflow: hidden;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-5 mb-lg-0" style="right: 10%">
                    <h4 class="text-uppercase mb-4">Location</h4>
                    <p class="lead mb-0">Ariel, Israel
                        <br></p>
                </div>

                <div class="middle">
                    <h4 class="text-uppercase mb-4">Follow</h4>
                    <a class="btn" href="https://www.facebook.com/roi.abramovitch">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn" href="https://twitter.com/roiabr15">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="btn" href="https://www.linkedin.com/in/roi-abramovitch-04b62821/">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a class="btn" href="https://github.com/Roiabr">
                        <i class="fab fa-github"></i>
                    </a>
                </div>

                <div class="col-md-4" style="
                    left: 45%;
                    ">
                    <h4 class="text-uppercase mb-4">About This Website</h4>
                    <p class="lead mb-0">This is a django based, personal portfolio website created by
                        <b>Roi Abramovitch</b>.</p>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>