<div class="card-group">
    <div class="card">
        <img src="{% static 'mySite/images/packman.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">CPackman Game</h5>
            <p class="card-text"> I built this game in Java as part of a project in an object-oriented course.</p>
            <a target="_blank" href="https://github.com/Roiabr/Packman-Game" class="btn btn-primary">source code</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="{% static 'mySite/images/pong.png' %}" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Pong Game</h4>
            <p class="card-text">
                A pong game built with python
            </p>
            <a target="_blank" href="https://github.com/Roiabr/Pong-Game" class="btn btn-primary">source code</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top img-fluid" src="" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">School-Platform</h4>
            <p class="card-text">
                An android application that built during a Hacketon.
                This educational app helps teachers to teach better and the student to understand better
            </p>
            <a target="_blank" href="https://github.com/Roiabr/Roiabr-School-Platform-Hackathon"
               class="btn btn-primary">source code</a>
        </div>
    </div>
</div>