img {
    border-radius: 8px;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 20px 0;
    background: repeating-linear-gradient(45deg, #f0f2ed, #f0f2ed 20px, #f8f4eb 20px, #f8f4eb 40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .2);
}

.container {
    padding: 0 20px;
    max-width: 960px;
    margin: 0 auto;
}

.logo-box {
    float: left;
    margin-right: 20px;
}

.logo-box a {
    outline: none;
    display: block;
}

.logo-box img {
    display: block;
}

nav {
    overflow: hidden;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;
}

nav li {
    display: inline-block;
    margin-left: 25px;
    height: 70px;
    line-height: 70px;
    transition: .5s linear;
}

nav a {
    text-decoration: none;
    display: block;
    position: relative;
    color: #868686;
    text-transform: uppercase;
}

nav a:after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: 15px;
    background: #868686;
    transition: width .5s linear;
}

nav a:hover:after {
    width: 100%;
}

@media screen and (max-width: 660px) {
    header {
        text-align: center;
    }

    .logo-box {
        float: none;
        display: inline-block;
        margin: 0 0 16px 0;
    }

    ul {
        float: none;
    }

    nav li:first-of-type {
        margin-left: 0;
    }
}


@media screen and (max-width: 550px) {
    nav {
        overflow: visible;
    }

    nav li {
        display: block;
        margin: 0;
        height: 40px;
        line-height: 40px;
    }

    nav li:hover {
        background: rgba(0, 0, 0, .1);
    }

    nav a:after {
        content: none;
    }
}

body {
    padding: 0;
    margin: 0;
}

.middle {
    position: absolute;
    left: 10%;
    top: 45%;
    transform: translateY(-50%);
    width: 75%;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 60px;
    height: 60px;
    background: #f1f1f1;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}

.btn i {
    line-height: 50px;
    font-size: 26px;
    transition: 0.2s linear;
}

.btn:hover i {
    transform: scale(1.3);
    color: #f1f1f1;
}

.btn::before {
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #3498db;
    transform: rotate(45deg);
    left: -110%;
    top: 90%;
}

.btn:hover::before {
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}

@keyframes aaa {
    0% {
        left: -110%;
        top: 90%;
    }
    50% {
        left: 10%;
        top: -30%;
    }
    100% {
        top: -10%;
        left: -10%;
    }
}

