.button {
    background-color: lightblue;
    border: none;
    color: black;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    margin: 8px 4px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {
    opacity: 1
}
